<div>
    {% for paises in paises %}
        <h1>Id do país: {{paises.id}}</h1>
        <h3>Nome do país: {{paises.nome}}</h3>
        <p>Descrição do país: {{paises.descricao}}</p>
    {% endfor %}
</div>